* {
	margin: 0;
	padding:0;
}

body{

}

div{
	border: 1px solid chocolate;
}
div.container{
	width: 320px;
	height: 420px;
	margin: auto; /*center horizontally*/
/*	background-color: #45a7f7;
*/	border-radius: 8px 8px 4px 4px;
	position: relative;
}

header p{
	/*width: 100px;*/
	/*margin: auto;*/
	background-color: #45a7f7;
	padding: 16px;
	text-align: center;
	border-bottom: 2px solid black;
}

div.cnt{
	width: 250px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 5px;
}

section.content{
	width: 250px;
	margin:auto;
}

div.question{
	border: 2px solid black;
}

section .head{
	border-bottom: 1px solid black;
	background-color: #8DD5FF;
}

div.botBtn{
	width:250px;
	margin: auto;
	margin-top: 10px;
	text-align: right;
}
button{
	padding: 3px 10px;
	border-radius: 4px;
}
footer{
	position: absolute;
	right: 0;
	bottom: 0;
	color: #CE3700;
}

.hidden{
	display: none;
}